@model MF_Modelo.Cuenta_Abono_Respuesta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cuenta_Abono_Respuesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Respuesta_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_Abono_Respuesta_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Respuesta_clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_Abono_Respuesta_clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Respuesta_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_Abono_Respuesta_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Respuesta_medioEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_Abono_Respuesta_medioEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Respuesta_folioOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_Abono_Respuesta_folioOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Respuesta_codigoError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_Abono_Respuesta_codigoError)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Respuesta_tipoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_Abono_Respuesta_tipoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Respuesta_rastreoDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_Abono_Respuesta_rastreoDevolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Respuesta_fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_Abono_Respuesta_fechaRegistro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
