@model IEnumerable<MF_Modelo.Cuenta_Abono>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_fechaOperacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_fechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_institucionOrdenante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_institucionBeneficiaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_claveRastreo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_nombreOrdenante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_tipoCuentaOrdenante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_cuentaOrdenante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_rfcCurpOrdenante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_nombreBeneficiario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_tipoCuentaBeneficiario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_cuentaBeneficiario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_rfcCurpBeneficiario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_conceptoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_referenciaNumerica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_tipoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_tipoOperacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Sts_Conciliacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_claveRastreoDev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_Abono_Sts_Abono_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_fechaOperacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_fechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_institucionOrdenante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_institucionBeneficiaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_claveRastreo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_nombreOrdenante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_tipoCuentaOrdenante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_cuentaOrdenante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_rfcCurpOrdenante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_nombreBeneficiario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_tipoCuentaBeneficiario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_cuentaBeneficiario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_rfcCurpBeneficiario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_conceptoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_referenciaNumerica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_tipoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_tipoOperacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_Sts_Conciliacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_claveRastreoDev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_Abono_Sts_Abono_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
