<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - Tesoreria v2</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Content/img/logo_footer.png" alt="Inicio" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @*@//switch (TempData["Nivel"].ToString().Trim())*@
                    @switch(System.Web.HttpContext.Current.Session["Nivel"].ToString() )
                    {
                        case "5": // Admninistracion
                            @*<li>@Html.ActionLink("Compra", "Index", "Abono")</li>*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catálogos <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">@Html.ActionLink("Inicio", "Index", "Home")</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Bitácora de accesos</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Bitácora de errores </a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tesoreria <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Compra", "Index", "Abono")</li>
                                    <li>@Html.ActionLink("Venta", "Index", "Abono")</li>
                                    <li>@Html.ActionLink("Banco", "Index", "Banco")</li>
                                    <li>@Html.ActionLink("Acerca", "About", "Home")</li>
                                </ul>
                            </li>
                            break;
                        case "196": // AUXILIAR TESORERIA MEDIO
                        <li>@Html.ActionLink("Abonos", "Index", "Abono")</li>
                            break;
                        case "249": // SUBDIRECTOR DE TESORERIA Y VALORES
                        <li>@Html.ActionLink("Abonos", "Index", "Abono")</li>
                        <li>@Html.ActionLink("Banco", "Index", "Banco")</li>
                            break;
                        default:
                        <li></li>
                            break;
                    }
                </ul>
                @*<p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>*@
                <p class="nav navbar-text navbar-right">¡Bienvenido , @User.Identity.Name.Remove(0, 10) !</p>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <p class="text-center" style="color:white; text-align:center;">
                        Derechos reservados &copy; @DateTime.Now.Year,
                        Más Fondos, S.A. de C.V., Sociedad Distribuidora de Acciones de Sociedades de Inversión

                    </p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
